<h1 align="center">Balance Sheet</h1>

<div class='table-holder'>
  <table class="table">
    <tr>
      <th colspan="2">Assets</th>
    </tr>

    <% total_asset = 0 %>

    <% @asset.each do |acc| %>
      <% total_asset += acc.transactions.sum(:amount) %>

      <tr>
        <td><%= acc.name %></td>
        <td><%= display_currency(acc.transactions.sum(:amount)) %></td>
      </tr>
    <% end %>

    <tr>
      <td class="total">Total Asset</td>
      <td class="total"><%= display_currency(total_asset) %></td>
    </tr>

    <tr>
      <th colspan="2">Liabilities</th>
    </tr>

    <% total_liability = 0 %>

    <% @liability.each do |acc| %>
      <% total_liability += acc.transactions.sum(:amount) %>

      <tr>
        <td><%= acc.name %></td>
        <td><%= display_currency(acc.transactions.sum(:amount)) %></td>
      </tr>
    <% end %>

    <tr>
      <td class="total">Total Liability</td>
      <td class="total"><%= display_currency(total_liability) %></td>
    </tr>

    <tr>
      <th colspan="2">Total Equities</th>
    </tr>

    <% total_equity = 0 %>

    <% @equity.each do |acc| %>
      <% unless acc.name == "Opening Balance" %>

        <% total_equity += acc.transactions.sum(:amount) %>

        <tr>
          <td><%= acc.name %></td>
          <td><%= display_currency(acc.transactions.sum(:amount)) %></td>
        </tr>

      <% end %>
    <% end %>

    <tr>
      <td>Profit/Loss</td>
      <td><%= display_currency(@pnl) %></td>
    </tr>

    <tr>
      <td class="total">Total Equity</td>
      <td class="total"><%= display_currency(total_equity + @pnl) %></td>
    </tr>

    <tr>
      <td class="total">Total Liability + Equity</td>
      <td class="total"><%= display_currency(total_liability + total_equity + @pnl) %></td>
    </tr>
  </table>
</div>

<style media="screen">
.table-holder {
  width: 80%;
  margin: 20px auto;
}

th {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

td {
  font-size: 22px;
}

.total {
  font-size: 22px;
  font-weight: bold;
}
</style>
