<% @account.each do |account| %>
  <% total = 0 %>
  <h3 align='center'><%= link_to account.name, account_path(account.id) %></h3>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Total</th>
    </tr>

    <% account.transactions.sort_by { |t| t.date  }.each do |t| %>
      <tr>
        <td><%= t.date %></td>
        <td><%= t.description %></td>
        <td><%= display_currency(t.amount) %></td>
        <td><%= display_currency(total += t.amount) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if false %>

<% @liability.each do |liability| %>
  <% total = 0 %>
  <h3 align='center'><%= link_to liability.name, account_path(liability.id) %></h3>
  <table class='table'>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Total</th>
    </tr>

    <% liability.transactions.each do |t| %>
      <tr>
        <td><%= t.date %></td>
        <td><%= t.description %></td>
        <td><%= display_currency(t.amount) %></td>
        <td><%= display_currency(total += t.amount) %></td>
      </tr>
    <% end %>
  </table>
<% end %>


<% @equity.each do |equity| %>
  <% total = 0 %>
  <h3 align='center'><%= link_to equity.name, account_path(equity.id) %></h3>
  <table class='table'>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Total</th>
    </tr>

    <% equity.transactions.each do |t| %>
      <tr>
        <td><%= t.date %></td>
        <td><%= t.description %></td>
        <td><%= display_currency(t.amount) %></td>
        <td><%= display_currency(total += t.amount) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% @revenue.each do |revenue| %>
  <% total = 0 %>
  <h3 align='center'><%= link_to revenue.name, account_path(revenue.id) %></h3>
  <table class='table'>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Total</th>
    </tr>

    <% revenue.transactions.each do |t| %>
      <tr>
        <td><%= t.date %></td>
        <td><%= t.description %></td>
        <td><%= display_currency(t.amount) %></td>
        <td><%= display_currency(total += t.amount) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% @expense.each do |expense| %>
  <% total = 0 %>
  <h3 align='center'><%= link_to expense.name, account_path(expense.id) %></h3>
  <table class='table'>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Total</th>
    </tr>

    <% expense.transactions.each do |t| %>
      <tr>
        <td><%= t.date %></td>
        <td><%= t.description %></td>
        <td><%= display_currency(t.amount) %></td>
        <td><%= display_currency(total += t.amount) %></td>
      </tr>
    <% end %>
  </table>
<% end %>


<% end %>
