<%= form_for @transaction do |f| %>

  <div class='row'>
    <div class='col-md-6 ml-auto mr-auto'>
      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control', placeholder: 'Date', autofocus: true %>
    </div>
  </div></br>

  <div class='row'>
    <div class='col-md-6 ml-auto mr-auto'>
      <%= f.label :amount %>
      <%= f.number_field :amount, value: number_to_currency(f.object.amount.to_f, delimiter: '', unit: ''), step: :any, class: 'form-control', placeholder: 'Transaction Amount' %>
    </div>
  </div></br>

  <div class='row'>
    <div class='col-md-6 ml-auto mr-auto'>
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
    </div>
  </div></br>

  <div class='row'>
    <div class='col-md-6 ml-auto mr-auto'>
      <%= label_tag :debit_account_id, 'Debit Account' %>
      <%= select_tag :debit_account_id, options_from_collection_for_select(Account.all, 'id', 'name'), { prompt: 'Select Debit Account', class: 'form-control' } %>
    </div>
  </div></br>

  <div class='row'>
    <div class='col-md-6 ml-auto mr-auto'>
      <%= label_tag :credit_account_id, 'Credit Account' %>
      <%= select_tag :credit_account_id, options_from_collection_for_select(Account.all, 'id', 'name'), { prompt: 'Select Credit Account', class: 'form-control' } %>
    </div>
  </div></br>

  <div align='center'>
    <%= f.submit class: 'btn btn-primary btn-md' %>
  </div>

<% end %>
