<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <% if session[:selected_company_id] %>
    <%= link_to Company.find(session[:selected_company_id]).name, root_path, class: 'navbar-brand' %>
  <% elsif !current_user %>
    <h2>Angkiki's Accounting System</h2>
  <% else %>
    <%= link_to "No Company", root_path, class: 'navbar-brand' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if current_user %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Create Company', new_company_path, class: 'dropdown-item' %>
            <%= link_to 'Create Account', new_account_path, class: 'dropdown-item' %>
            <%= link_to 'Create Transaction', new_transaction_path, class: 'dropdown-item' %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'General Ledger', general_ledger_path, class: 'dropdown-item' %>
            <%= link_to 'Double Entry Ledger', double_entry_ledger_path, class: 'dropdown-item' %>
            <%= link_to 'Balance Sheet', balance_sheet_path, class: 'dropdown-item' %>
            <%= link_to 'Profit & Loss', profit_and_loss_path, class: 'dropdown-item' %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Misc
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'View All Accounts', accounts_path, class: 'dropdown-item' %>
          </div>
        </li>


        <li class='nav-item'>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
    </div>
  <% end %>
</nav>
